{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список автовладельцев</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>
<body>
    <div class="nav-menu">
        <p><strong>Список автовладельцев</strong></p>
        <a href="{% url 'cars_list' %}">Список автомобилей</a><br>
        <a href="/admin">Админ-панель</a>
    </div>

    <h1>Список автовладельцев</h1>

    <a href="{% url 'create_owner' %}" class="create-button">Добавить автовладельца</a>
    
    {% if owners %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for owner in owners %}
                <tr>
                    <td>{{ owner.id }}</td>
                    <td>{{ owner.username }}</td>
                    <td>{{ owner.first_name }}</td>
                    <td>{{ owner.last_name }}</td>
                    <td>
                        <a href="{% url 'owner_detail' owner.id %}">
                            Подробнее
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'edit_owner' owner.id %}">
                            Изменить
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete_owner' owner.id %}" class="delete">
                            Удалить
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Автовладельцы не найдены.</p>
    {% endif %}
</body>
</html>
