{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Список научных конференций</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    {% include "includes/top_menu.html" %}

    <h1 class="mt-20">Список научных конференций</h1>

    {% if user.is_superuser %}
    <a class="blue-button mt-20" href="{% url 'add_conference' %}">
        Добавить конференцию
    </a>
    {% endif %}

    <!-- Список конференций -->
    <div class="conferences-list mt-20">
        {% for conference in conferences %}

        <!-- Карточка конференции -->
        <div class="conference-card mb-10">
            <h2>{{ conference.name }}</h2>
            <p><strong>Даты:</strong> {{ conference.start_date }} - {{ conference.end_date }}</p>
            <p><strong>Место:</strong> {{ conference.venue_name }}</p>
            <p><strong>Темы:</strong> {{ conference.topics | default:"Не указаны" }}</p>
            <div class="flex">
                <a href="{% url 'conference_detail' conference.pk %}">Подробнее</a>
                {% if user.is_superuser %}
                <a href="{% url 'edit_conference' conference.pk %}">Изменить</a>
                <a href="{% url 'delete_conference' conference.pk %}">Удалить</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% empty %}
        <p>Конференций не найдено.</p>
        {% endfor %}
    </div>

    {% include "includes/pagination.html" with pagination_class="mt-15" %}
</body>
</html>
