:root {
  --color-white: #FFFFFF;

  //light
  --color-text-contrast-light: #3D3788;
  --color-text-light: #686590;
  --color-bg-light: #EBF0F6;
  --color-section-light: #FFFFFF;
  --color-section-contrast-light: #726DAF;

  //dark
  --color-text-contrast-dark: #FFFFFF;
  --color-text-dark: #EBF0F6;
  --color-bg-dark: #17181C;
  --color-section-dark: #242730;
  --color-section-contrast-dark: #6A5ECB;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-logo: 'Marck Script', sans-serif;



}