{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комнаты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hotels/css/main.css' %}">
</head>
<body>
    <form method="post" class="date-form">
        {% csrf_token %}
        <div class="date-row">
            <div class="field">
                <label for="checkin">Заезд:</label>
                <input type="date" id="checkin" name="checkin" required>
            </div>
            <div class="field">
                <label for="checkout">Выезд:</label>
                <input type="date" id="checkout" name="checkout" required>
            </div>
            <button type="submit">Найти</button>
        </div>
    </form>
    {% for room in rooms %}
        <a href="{% url 'room_info' room.pk %}">
            <div class="hotel">
                <strong>{{ room.room_type }}</strong><br>
                Цена за номер: {{ room.price }}<br>
                Номер рассчитан на {{ room.capacity }} 
                {% if room.capacity == 1 %}
                	человека <br>
                {% else %}
                    человек <br>
                {% endif %}
            <a href="{% url 'book_room' room.pk %}" class="btn-book">Забронировать</a>

            
            </div>
        </a>
    {% endfor %}
</body>
</html>
