{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комнаты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hotels/css/main.css' %}">
</head>
<body>
    <h1></h1>
    <form method="get" class="date-form">
        <div class="date-row">
            <div class="field">
                <label for="hotel">Отель:</label>
                <select id="hotel" name="id">
                    <option value="">все отели</option>
                    {% for hotel in all_hotels %}
                        <option value="{{ hotel.id }}" {% if hotel.id|stringformat:"s" == request.GET.id %}selected{% endif %}>
                            {{ hotel.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="field">
                <label for="checkin">Заезд:</label>
                <input type="date" id="checkin" name="checkin" value="{{ request.GET.checkin }}">
            </div>

            <div class="field">
                <label for="checkout">Выезд:</label>
                <input type="date" id="checkout" name="checkout" value="{{ request.GET.checkout }}">
            </div>

            <button type="submit">Найти</button>
        </div>
    </form>
    {% if hotel_name %}
        <h1> Все номера для отеля {{ hotel_name }}</h1>
    {% endif %}
    {% for room in rooms %}
        <a href="{% url 'room_info' room.pk %}">
            <div class="hotel">
            {% if hotel_name == None %}
                <strong>{{ room.id_hotel.name }}</strong>
            {% endif %}
                {{ room.room_type }}<br>
                Цена за номер: {{ room.price }}<br>
                Номер рассчитан на {{ room.capacity }} 
                {% if room.capacity == 1 %}
                	человека <br>
                {% else %}
                    человек <br>
                {% endif %}
            <a href="{% url 'book_room' room.pk %}" class="btn-book">Забронировать</a>
            </div>
        </a>
    {% endfor %}
</body>
</html>
