{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="container-register">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="register-field">
                    {{ field.label_tag }} <br>
                    {{ field }} 
                    {% if field.errors %}
                        <div style="color:red;">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-register">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}